* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin-top: 30px 0;
    display: flex;
    gap: 40px;
}

button  {
    padding: 10px; 
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 05s ease-in-out;
}

button:hover {
    opacity: 1.0;
    
}

#rock {
    background-color: yellow;
}

#paper {
    background-color: blue;
}

#scissors {
    background-color: green;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: rgb(13, 87, 170);
}

.machine-score span {
    color: rgb(107, 20, 189);
}
